@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

body{
    font-family: 'Noto Sans JP', sans-serif;
    color: #312E2E;
}


#title{
    position: absolute;
    top: 50%;
    left: 50%;
}

.image-sakura{
    z-index:3;
    position: absolute;
    width:100%;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

.image-main{
    z-index:2;
    position: absolute;
    width:100%;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.image-blur{
    z-index:1;
    position: absolute;
    width:100%;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.continue-buttom{
    z-index:4;
    position: absolute;
    left: 50%;
    transform: translateY(200%) translateX(-50%);

    border-width: thin;
    border-style: solid none;
    

    padding: 1rem 3rem;

    color: rgb(202, 61, 70);
    background: #ffffff7e;


}

a{
    color: rgb(202, 61, 70);
    flex-shrink: 0;
    text-decoration: none;
}



.scroll {

    display: inline-block;
    padding-top: 70px;
    position: relative;
}
.scroll::before {
    animation: scroll 3s infinite;
    border: solid #000;
    border-width: 0 0 1px 1px;
    content: "";
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 80vh;
    right: 0;
    left: 50vw;
    transform: rotate(-45deg) translateX(-50vw);
    width: 20px;
    height: 20px;
}
@keyframes scroll {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    80% {
        transform: rotate(-45deg) translate(-30px, 30px);
    }
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

#content{
    padding: 50% 10% 10% 10%;
    margin-top: 80vh;
    margin-bottom: 10rem;
    

}
.charactor{
    overflow: hidden;

    width: 50%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;
}

.dammy{
    width: 5vh;
    height: 10vh;
}

.sticky{
    position: sticky;
    top: 50%;
}

