@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

body{
    font-family: 'Noto Sans JP', sans-serif;
    color: #312E2E;
}

#title{
    position: absolute;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 30vw;
}

.rogo{
    position: relative;
    width: 100%;
}

.continue-buttom{
    z-index:100;
    position: absolute;
    left: 50%;
    width: 25vw;
    transform: translateY(-10vh) translateX(-50%);
    cursor: pointer;

}
.click{
    width: 100%;
    cursor: pointer;
}

a{
    color: rgb(202, 61, 70);
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
}



.scroll {

    display: inline-block;
    /* padding-top: 7rem; */
    position: absolute;
    top: 70%;
    left: 50%;
}
.scroll::before {
    animation: scroll 3s infinite;
    border: solid #000;
    border-width: 0 0 1px 1px;
    content: "";
    display: inline-block;
    margin: auto;
    
    transform: rotate(-45deg);
    
    width: 20px;
    height: 20px;

    /* background-color: aqua; */
}
@keyframes scroll {
    0% {
        transform: rotate(-45deg) translate(0, -150%);
    }
    80% {
        transform: rotate(-45deg) translate(-150%, 0);
    }
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

#content{
    z-index: 1;
    padding:10% 10% 10% 10%;
    margin-top: 80vh;
    /* margin-bottom: 10rem; */
    

}
.charactor{
    overflow: hidden;

    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    margin-bottom: 15%;
}

.dammy{
    /* width: 5vh; */
    height: 30vh;
}

.sticky{
    position: sticky;
    top: 40%;
}


.no-alpha{
    opacity:0;

}

.is-visible {
    opacity:1;
    animation: fadeup 1.5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeup {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

